@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('./topbar.css');
@import url('./form.css');
@import url('./connection.css');
@import url('./buttons.css');
@import url('./table.css');
@import url('./collections.css');
@import url('./lightboxes.css');
@import url('./nfts.css');

body {
  @apply m-0 p-0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  @apply flex flex-col justify-start;
  @apply min-h-screen;
  @apply bg-white;
  @apply text-black;
  @apply bg-[url('/background.svg')];
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Red Hat Display', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

h1 {
  @apply text-3xl font-bold;
}

a {
  @apply text-black;
  @apply no-underline;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
  @apply mt-8 ml-auto mr-auto;
  @apply w-desktop;
}

.h1--airdrop,
.h1--global-state {
  @apply mb-8;
}
@screen md {
  main {
    @apply w-full;
    @apply pr-8 pl-8;
  }
}

.header {
  @apply w-full;
  @apply mb-4;
}

.header__buttons {
  @apply inline-flex justify-between items-center;
  @apply w-full;
  @apply mb-4;
}

.link {
  @apply block;
  @apply text-center;
}
