@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('./form.css');
@import url('./collections.css');
@import url('./nfts.css');
@import url('./checkboxes.css');

/* input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
} */

.app {
  @apply min-h-screen;
  @apply bg-white;
  @apply text-black;
  @apply bg-slate-900;

  display: grid;
  grid-template-areas:
    'topbar topbar topbar'
    'sidebar content content';
  grid-template-rows: min-content 1fr;
  grid-template-columns: auto 1fr 1fr;
}

/* Grid areas */
.grid-sidebar {
  grid-area: sidebar;
}

.grid-topbar {
  grid-area: topbar;
}

.grid-content {
  grid-area: content;
}

/* Wallet Button Overrides */
button.wallet-adapter-button {
  @apply justify-center bg-slate-500;
}

.wallet-adapter-button-start-icon {
  @apply hidden;
}

h1 {
  @apply text-3xl font-bold;
}

h2 {
  @apply mb-4 text-lg font-bold text-slate-400;
}

.main {
  @apply mt-8 mr-auto mb-8 ml-auto;
}


@screen md {
  .main {
    @apply w-full;
    @apply pr-8 pl-8;
  }
}

.header__buttons {
  @apply inline-flex items-center justify-between;
  @apply w-full;
  @apply mb-4;
}

.link {
  @apply block;
  @apply text-center;
}

.current-global-state {
  @apply mb-8;
}

.current-global-state p span {
  @apply font-bold;
}
